.inner.cover
  %h1.cover-heading Welcome!
  %p.lead Please login with Facebook to confirm you're a friend of ours so that you can share our memories.
  %p.lead
    %a.btn.btn-lg.btn-primary{href: user_facebook_omniauth_authorize_path} Login with Facebook
